.service-card, .job-card{
  transition: all 0.5s;
}

.product-list{
  transition: all 0.25s;
}

.service-card:hover{
  transform: translate(-5px,-5px);
  box-shadow: 7px 7px #eaeaea;
}

.job-card:hover{
  transform: translate(0,-7px);
  box-shadow: 0 10px #eaeaea;
}

.product-list:hover{
  background-color: #343a40;
  color: white;
}

.product-list:hover a{
  color: white;
}

.scroll-model{
  max-height: 375px;
  overflow: auto;
  position: relative;
}
